@charset "utf-8";
#first-paragraph {
  margin-bottom: 100px;
  border: solid 5px yellow;
}
#second-paragraph {
  padding: 100px;

  margin-bottom: 40px;
  border: solid 20px rgb(55, 22, 189);
}
div {
  width: 200px;
  height: 100px;
  background-color: red;
  border: solid 20px yellow;
}